# jukebox.py configuration file
#
# music_root_folder can contain multiple directories, separated by commas, ex.:
# music_root_folder=/home/patrick/Music/iTunes/iTunes Media/Music/,/home/patrick/Music/spotify_tracks/
# or on Windows use paths like these:
# music_root_folder=C:\user\patrick\Music\
music_root_folder=/home/patrick/Music/iTunes/iTunes Media/Music/,/home/patrick/Music/spotify_tracks/
#music_root_folder=/home/patrick/Music/iTunes/iTunes Media/Music/Fine Young Cannibals/
button_font_name=Lavoir
label_font_name=Arial
# Note that the sub-genres are defined in user_classifications/genres/
genres_list=Classical,Soundtrack,Folk,Rock,R&B,Altechnic,Franco,Humor,Christmas
#epochs_list=50s,60s,70s,80s,90s,2000s
spotify_enable=on
scraping_enable=on
scraping_write_to_folder=/home/patrick/Music/spotify_tracks/
spotify_start_page_number=0
